﻿@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>_LexisLayout</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="stylesheet" href="~/Content/Pages/main.css">
</head>
<body>
    <!-- header section -->
    <section class="banner" role="banner">
        <header id="header">
            <div class="header-content clearfix">
                <a class="logo" href="index.html">LEXIS</a>
                <nav class="navigation" role="navigation">
                    <ul class="primary-nav">
                        <li><a href="@Url.DictionaryIndex()">Словарь</a></li>
                        <li><a href="#services">services</a></li>
                        <li><a href="#works">Works</a></li>
                        <li><a href="#teams">Our Team</a></li>
                        <li><a href="#testimonials">Testimonials</a></li>
                        <li><a href="#contact">Contact</a></li>
                    </ul>
                </nav>
                <a href="#" class="nav-toggle">Menu<span></span></a>
            </div>
        </header>
        <!-- banner text -->
        <div class="container">
            <div class="col-md-10 col-md-offset-1">
                <div class="banner-text text-center">
                    <h1>Bootstrap One Page Multi Purpose Template</h1>
                    <p>Lorem ipsum dolor sit ametcursus magna vel scelerisque Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent commodo cursus magna vel scelerisque nisl consectetur et.nisl consectetur et.</p>
                    <a href="#" class="btn btn-large">Find out more</a>
                </div>
                <!-- banner text -->
            </div>
        </div>
    </section>
    <!-- header section -->
    <!-- intro section -->
    <section id="intro" class="section intro">
        <div class="container">
            <div class="col-md-8 col-md-offset-2 text-center">
                <h3>We've got what you need!</h3>
                <p>Start Bootstrap has everything you need to get your new website up and in no time! All of the templates and themes on Start Bootstrap are open source, free to download, and easy to use. No strings attached!</p>
            </div>
        </div>
    </section>
    <!-- intro section -->
    <!-- services section -->
    <section id="services" class="services service-section">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-6 services text-center">
                    <span class="icon icon-strategy"></span>
                    <div class="services-content">
                        <h5>Strategy & Consulting</h5>
                        <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Nullam quis risus eget urna mollis ornare vel eu leo. Donec nulla non metus.</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 services text-center">
                    <span class="icon icon-briefcase"></span>
                    <div class="services-content">
                        <h5>corporate identity</h5>
                        <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Nullam quis risus eget urna mollis ornare vel eu leo. Donec nulla non metus.</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 services text-center">
                    <span class="icon icon-tools"></span>
                    <div class="services-content">
                        <h5>web design and development</h5>
                        <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Nullam quis risus eget urna mollis ornare vel eu leo. Donec nulla non metus.</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 services text-center">
                    <span class="icon icon-genius"></span>
                    <div class="services-content">
                        <h5>Branding</h5>
                        <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Nullam quis risus eget urna mollis ornare vel eu leo. Donec nulla non metus.</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 services text-center">
                    <span class="icon icon-megaphone"></span>
                    <div class="services-content">
                        <h5>Digital marketing</h5>
                        <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Nullam quis risus eget urna mollis ornare vel eu leo. Donec nulla non metus.</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 services text-center">
                    <span class="icon icon-trophy"></span>
                    <div class="services-content">
                        <h5>Promotion material</h5>
                        <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Nullam quis risus eget urna mollis ornare vel eu leo. Donec nulla non metus.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- services section -->
    <!-- work section -->
    <section id="works" class="works section no-padding">
        <div class="container-fluid">
            <div class="row no-gutter">
                <div class="col-lg-3 col-md-6 col-sm-6 work">
                    <a href="~/Images/Main/work-1.jpg" class="work-box">
                        <img src="~/Images/Main/work-1.jpg" alt="">
                        <div class="overlay">
                            <div class="overlay-caption">
                                <h5>Project Name</h5>
                                <p>Website Design</p>
                            </div>
                        </div>
                        <!-- overlay -->
                    </a>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 work">
                    <a href="~/Images/Main/work-2.jpg" class="work-box">
                        <img src="~/Images/Main/work-2.jpg" alt="">
                        <div class="overlay">
                            <div class="overlay-caption">
                                <h5>Project Name</h5>
                                <p>Website Design</p>
                            </div>
                        </div>
                        <!-- overlay -->
                    </a>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 work">
                    <a href="~/Images/Main/work-3.jpg" class="work-box">
                        <img src="~/Images/Main/work-3.jpg" alt="">
                        <div class="overlay">
                            <div class="overlay-caption">
                                <h5>Project Name</h5>
                                <p>Website Design</p>
                            </div>
                        </div>
                        <!-- overlay -->
                    </a>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 work">
                    <a href="~/Images/Main/work-4.jpg" class="work-box">
                        <img src="~/Images/Main/work-4.jpg" alt="">
                        <div class="overlay">
                            <div class="overlay-caption">
                                <h5>Project Name</h5>
                                <p>Website Design</p>
                            </div>
                        </div>
                        <!-- overlay -->
                    </a>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 work">
                    <a href="~/Images/Main/work-5.jpg" class="work-box">
                        <img src="~/Images/Main/work-5.jpg" alt="">
                        <div class="overlay">
                            <div class="overlay-caption">
                                <h5>Project Name</h5>
                                <p>Website Design</p>
                            </div>
                        </div>
                        <!-- overlay -->
                    </a>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 work">
                    <a href="~/Images/Main/work-6.jpg" class="work-box">
                        <img src="~/Images/Main/work-6.jpg" alt="">
                        <div class="overlay">
                            <div class="overlay-caption">
                                <h5>Project Name</h5>
                                <p>Website Design</p>
                            </div>
                        </div>
                        <!-- overlay -->
                    </a>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 work">
                    <a href="~/Images/Main/work-7.jpg" class="work-box">
                        <img src="~/Images/Main/work-7.jpg" alt="">
                        <div class="overlay">
                            <div class="overlay-caption">
                                <h5>Project Name</h5>
                                <p>Website Design</p>
                            </div>
                        </div>
                        <!-- overlay -->
                    </a>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 work">
                    <a href="~/Images/Main/work-8.jpg" class="work-box">
                        <img src="~/Images/Main/work-8.jpg" alt="">
                        <div class="overlay">
                            <div class="overlay-caption">
                                <h5>Project Name</h5>
                                <p>Website Design</p>
                            </div>
                        </div>
                        <!-- overlay -->
                    </a>
                </div>
            </div>
        </div>
    </section>
    <!-- work section -->
    <!-- Footer section -->
    <footer class="footer">
        <div class="footer-top section">
            <div class="container">
                <div class="row">
                    <div class="footer-col col-md-6">
                        <h5>Our Office Location</h5>
                        <p>
                            Collins Street West Victoria 8007 Australia.<br>
                            1800 1234 56789 / 98532100987<br>
                            support@lexis.com
                        </p>
                        <p>Copyright © 2015 Lexis Inc. All Rights Reserved. Made with <i class="fa fa-heart pulse"></i> by <a href="http://www.designstub.com/">Designstub</a></p>
                    </div>
                    <div class="footer-col col-md-3">
                        <h5>Services We Offer</h5>
                        <p>
                            <ul>
                                <li><a href="#">Digital Strategy</a></li>
                                <li><a href="#">Websites</a></li>
                                <li><a href="#">Videography</a></li>
                                <li><a href="#">Social Media</a></li>
                                <li><a href="#">User Experience</a></li>
                            </ul>
                        </p>
                    </div>
                    <div class="footer-col col-md-3">
                        <h5>Share with Love</h5>
                        <ul class="footer-share">
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- footer top -->
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script src="~/Scripts/Pages/main.js"></script> 
</body>
</html>
