﻿body {
    padding: 0;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    margin-top: 80px;
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists
   will truncate terms that are too long to fit in the left column
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.worker-head{
    width: 100%;
    padding: 10px 20px;
    border-bottom: 1px solid #666;
}

iframe{
    width: 100%;
    height: 500px;
    border: none;
}

.not-visible{
    display: none;
}

.loader{
    max-width: 25px;
    max-height: 25px;
}

form.form-fixed{
    display: inline-block;
    text-align: left;
    width: 600px;
}

/*form.form-fixed input[type=text]{
    width: 300px;
}*/

.inline-block{
    display: inline-block;
}

.label-wrap{
    white-space: normal;
}

input.form-control{
    max-width: 100%;
}

.form-step-by-step [data-step]{
    display: none;
}

.form-step-by-step .last-step{
    display: none;
}

.form-step-by-step .back-step{
    display: none;
}

.error{
    color: #b90000;
}

.cards{
    padding: 0 30px;
}

.card{
    max-height: 500px;
    padding: 10px;
    margin-bottom: 20px;
    text-align: center;
}

.card-container{
    padding: 10px 20px;
    border-radius: 6px;
    background-color: #f1f1f1;
}

.card-title{
}


.card-logo img{
    max-height: 300px;
    max-width: 100%;
    border-radius: 6px;

}

.card-description{
    padding: 10px;
}

.card-actions{
    text-align: center;
}

.checking-space{
    min-height: 100px;
    padding: 20px;
    border: 1px solid lightgray;
    border-radius: 6px;
    margin: 10px;
}