﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>_AdminLayout</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/bootstrap-css")
    @Styles.Render("~/Content/themes/base/css")
    @Styles.Render("~/Content/Pages/Admin/Shared/css")
    @RenderSection("styles", false)
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
</head>
<body style="padding: 0;">

    <aside class="sidebar admin-sidebar">
        <div style="">
            <ul>
                <li>
                    <a href="@Url.AdminHomeMain()">
                        <span class="glyphicon glyphicon-home"></span>
                        Главная
                    </a>
                </li>
                <li>
                    <a href="@Url.AdminUsersShow()">
                        <span class="glyphicon glyphicon-user"></span>
                        Пользователи
                    </a>
                </li>
            </ul>
        </div>
    </aside>
    <div class="admin-content">
        <header>
            <nav class="navbar navbar-default" role="navigation">
                <div class="container-fluid">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>

                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav">
                            @*<li><a href="@Url.AdminImportSchools()">Импорт школ</a></li>*@
                        </ul>
                        <ul class="nav navbar-nav navbar-right">
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Инструменты <span class="caret"></span></a>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a href="/elmah" target="_blank">Программный лог</a></li>
                                    <li><a href="@Url.HomeIndex()">Выйти из админки</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div><!-- /.navbar-collapse -->
                </div><!-- /.container-fluid -->
            </nav>
        </header>

        <div style="padding: 0 20px;">
            @RenderBody()
        </div>
    </div>
    
    @Scripts.Render("~/bundles/modernizr")
    @RenderSection("scripts", false)
</body>
</html>
