﻿body {
    padding: 0;
    margin: 0;
    display: table;
    width: 100%;
    min-height: 700px;
}


aside.sidebar.admin-sidebar{
    width: 16%;
    background-color: #122144;
    color: #fff;
    display: table-cell;
    padding-top: 20px;
}

aside.sidebar.admin-sidebar ul{
    list-style-type: none;
}

aside.sidebar.admin-sidebar ul li{
    margin-top: 10px;
}

aside.sidebar.admin-sidebar ul a{
    color: #d8d8d8;
}

aside.sidebar.admin-sidebar ul a:hover{
    color: white;
}

.admin-content{
    width: 84%;
    margin: 0;
    display: table-cell;
    min-height: 700px;
    vertical-align: top;
}