﻿@model WordsMemorizer.Web.ViewModels.Training.TrainingIndexViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_ContentLayout.cshtml";
}

@*<select>
    <option>Все</option>
    <option>Английский</option>
    <option>Новые слова</option>
</select>*@
@Html.DropDownList("Groups", Model.TrainingGroups)

<div class="cards row">
    <div class="card col-md-4 col-sm-6">
        <div class="card-container">
            <div class="card-title h2">
                Конструктор слов
            </div>
            <div class="card-logo">
                <a href="@Url.TrainingWordsConstructor(1)">
                    <img src="~/Images/Main/work-1.jpg" />
                </a>
            </div>
            <div class="card-description">
                Описнаие конструктора слов
            </div>
            <div class="card-actions">
                <a href="@Url.TrainingWordsConstructor(1)" class="btn btn-primary">
                    Начать
                    <i class="glyphicon glyphicon-equalizer"></i>
                </a>
            </div>
        </div>
    </div>
    <div class="card col-md-4 col-sm-6">
        <div class="card-container">
            <div class="card-title h2">
                Слово-перевод
            </div>
            <div class="card-logo">
                <a href="">
                    <img src="~/Images/Main/work-2.jpg" />
                </a>
            </div>
            <div class="card-description">
                Описнаие слово-перевода
            </div>
            <div class="card-actions">
                <button class="btn btn-primary">
                    Начать
                    <i class="glyphicon glyphicon-indent-left"></i>
                </button>
            </div>
        </div>
    </div>
    <div class="card col-md-4 col-sm-6">
        <div class="card-container">
            <div class="card-title h2">
                Перевод-слово
            </div>
            <div class="card-logo">
                <a href="">
                    <img src="~/Images/Main/work-3.jpg" />
                </a>
            </div>
            <div class="card-description">
                Описнаие перевода-слова
            </div>
            <div class="card-actions">
                <button class="btn btn-primary">
                    Начать
                    <i class="glyphicon glyphicon-indent-right"></i>
                </button>
            </div>
        </div>
    </div>
    <div class="card col-md-4 col-sm-6">
        <div class="card-container">
            <div class="card-title h2">
                Аудирование
            </div>
            <div class="card-logo">
                <a href="">
                    <img src="~/Images/Main/work-4.jpg" />
                </a>
            </div>
            <div class="card-description">
                Описнаие аудирование
            </div>
            <div class="card-actions">
                <button class="btn btn-primary">
                    Начать
                    <i class="glyphicon glyphicon-headphones"></i>
                </button>
            </div>
        </div>
    </div>
</div>

