﻿@model WordsMemorizer.Web.ViewModels.Training.TrainingWordsConstructorViewModel

@{
    ViewBag.Title = "WordsConstructor";
    Layout = "~/Views/Shared/_ContentLayout.cshtml";
}

@section scripts{
    @Scripts.Render("~/bundles/knockout")
    @Scripts.Render("~/bundles/jqueryform")
    @Scripts.Render("~/bundles/knockoutHelper")
    @Scripts.Render("~/bundles/ajaxFormHelper")
    @*@Scripts.Render"(~/bundles/wordsConstructorViewModel")*@
    <script src="/Scripts/ViewModels/wordsConstructorViewModel.js"></script>

    <script type="text/javascript">
        $(function () {
            wordsMemorizer_knockoutHelper.getContentViewModel.pageViewModel(new wordsConstructorViewModel());
            wordsMemorizer_knockoutHelper.applyBindings();
            wordsMemorizer_knockoutHelper.getContent(
                '@Url.TrainingApiGetWords(Model.GroupId)',
                null,
                "get",
                function () {
                    var words = wordsMemorizer_knockoutHelper.getContentViewModel.contentData();
                    wordsMemorizer_knockoutHelper.getContentViewModel.pageViewModel().startGame(words);
                    wordsMemorizer_ajaxFormHelper.bindAll();
                }
            );

            $("#shuffled-letters").on("click", "ul button", function () {
                var $button = $(this);
                var letter = $button.text();
                var viewModel = wordsMemorizer_knockoutHelper.getContentViewModel.pageViewModel();
                if (viewModel.checkLetter(letter)) {
                    viewModel.moveLetter(letter);
                }
                else {
                    $button.addClass("btn-danger", 300, function () {
                        $button.removeClass("btn-primary");
                        $button.addClass("btn-primary", 300, function () {
                            $button.removeClass("btn-danger", 300);
                        });
                    });
                }
            });
        });
    </script>
}

<h2 class="text-center">Конструктор слов</h2>
<div data-bind="visible: !pageViewModel().game.koIsGameFinished()">
    <h3 class="text-center text-info" data-bind="visible: pageViewModel().game.koIsRepeatingStageNow()">
        Повторите пожалуйста слова в которых ошиблись
    </h3>
    <div class="checking-space">
        <ul class="list-inline" data-bind="template: {name: 'letter-template', foreach: pageViewModel().game.currentWord.koLetters()}"></ul>
        <span class="text-center text-success" data-bind="visible: pageViewModel().game.koIsStepFinished(), text: pageViewModel().game.currentWord.koTranslation()"></span>
    </div>
    <div id="shuffled-letters" data-bind="foreach: pageViewModel().game.koCurrentWords()" class="text-center">
        <ul class="list-inline" data-bind="attr: {name: $data.wordId},
        template: {name: 'letter-template', foreach: $data.koShuffledLetters},
        visible: wordsMemorizer_knockoutHelper.getContentViewModel.pageViewModel().isStepVisible($index())"></ul>
    </div>
    <div data-bind="visible: pageViewModel().game.koIsStepFinished() && pageViewModel().hasMoreWords(true)">
        <button class="btn btn-success" data-bind="click: pageViewModel().nextWord">Далее</button>
    </div>
    <div data-bind="visible: pageViewModel().game.koIsStepFinished() && !pageViewModel().hasMoreWords(true)">
        <form id="saveTraining" action="@Url.TrainingApiSaveTraining()" method="post" class="form-ajax">
            @Html.HiddenFor(m => m.GroupId)
            <div>
                <div class="summary text-danger"></div>
                <button class="btn btn-success" data-bind="click: pageViewModel().nextWord">Завершить тренировку</button>
                <span class="ajaxProgress not-visible">
                    <img src="~/Images/loading.gif" alt="loading" class="loader" />
                </span>
            </div>
        </form>
        
    </div>
</div>
<div data-bind="visible: pageViewModel().game.koIsGameFinished()">
    <h3 class="text-center text-success">Вот и все. Тренировка окончена. Вы большой молодец!</h3>
    <div>
        <a href="@Url.DictionaryIndex()" class="btn btn-success">
            Вернуться в словарь
        </a>
    </div>
</div>

<!-- ko if: loading -->
<div class="text-center">
    <span>Загрузка...</span>
</div>
<!-- /ko -->

<script type="text/html" id="letter-template">
    <li class="">
        <button class="btn btn-primary" type="button"
                data-bind="text: $data"></button>
    </li>
</script>


