﻿@model WordsMemorizer.ViewModels.Account.AccountLoginViewModel

@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_ContentLayout.cshtml";
}

@section scripts{
    @Scripts.Render("~/bundles/jqueryform")
    @Scripts.Render("~/bundles/ajaxFormHelper")

    <script type="text/javascript">
        wordsMemorizer_ajaxFormHelper.bindAll();
    </script>
}

<div class="text-center">
    <form action="@Url.AccountApiLogin()" method="post" class="form-fixed form-ajax">
        <h2>Вход</h2>

        @Html.HiddenFor(m => m.LoginForm.ReturnUrl)
        <div class="form-group">
            @Html.LabelFor(m => m.LoginForm.UserName, htmlAttributes: new { @class = "label label-default" })
            @Html.TextBoxFor(m => m.LoginForm.UserName, htmlAttributes: new { @class = "form-control" })
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.LoginForm.Password, htmlAttributes: new { @class = "label label-default" })
            @Html.PasswordFor(m => m.LoginForm.Password, htmlAttributes: new { @class = "form-control" })
        </div>
        <div>
            <div class="summary text-danger"></div>
            <button id="ajaxFormSubmitButtom" class="btn btn-primary" type="submit">Войти</button>
            <span class="ajaxProgress not-visible">
                <img src="~/Images/loading.gif" alt="loading" class="loader" />
            </span>
        </div>
    </form>
</div>