﻿@model WordsMemorizer.ViewModels.Account.AccountRegisterViewModel

@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_ContentLayout.cshtml";
}

@section scripts{
    @Scripts.Render("~/bundles/jqueryform")
    @Scripts.Render("~/bundles/ajaxFormHelper")

    <script type="text/javascript">
        wordsMemorizer_ajaxFormHelper.bindAll();
    </script>
}
<div class="text-center">
    <form action="@Url.AccountApiRegister()" method="post" class="form-fixed form-ajax">
        <h2>Регистрация</h2>
        <div class="form-group">
            @Html.LabelFor(m => m.RegisterForm.Email, htmlAttributes: new { @class = "label label-default" })
            @Html.TextBoxFor(m => m.RegisterForm.Email, htmlAttributes: new { @class = "form-control" })
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.RegisterForm.UserName, htmlAttributes: new { @class = "label label-default" })
            @Html.TextBoxFor(m => m.RegisterForm.UserName, htmlAttributes: new { @class = "form-control" })
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.RegisterForm.Password, htmlAttributes: new { @class = "label label-default" })
            @Html.PasswordFor(m => m.RegisterForm.Password, htmlAttributes: new { @class = "form-control" })
        </div>
        <div>
            <div class="summary text-danger"></div>
            <button class="btn btn-primary" type="submit">Регистрация</button>
            <span class="ajaxProgress not-visible">
                <img src="~/Images/loading.gif" alt="loading" class="loader" />
            </span>
        </div>
    </form>
</div>