﻿@model WordsMemorizer.Areas.Admin.ViewModels.Home.AdminHomeIndexViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="">
    <span class="text-info">В системе не найдено ни одного администратора. Желаете сделать текущего пользователя админом?</span>
    <div>
        <div class="float-left">
            <a href="#">
                <img src="#" alt="аватар" class="thumbnail-avatar thumbnail-shadow right" />
            </a>
        </div>
        <div id="group-proprties" class="float-left">
            @*<div>
                <a class="text-primary h4" href="#">@Model.UserName</a>
            </div>*@
            <div>
                <form action="#" method="post">
                    <button type="submit" name="BecomeAdmin" value="true" class="btn btn-success">Да</button>
                    <button type="submit" name="BecomeAdmin" value="false" class="btn btn-default">Нет</button>
                </form>
            </div>
        </div>
    </div>
</div>

