﻿@model WordsMemorizer.Web.ViewModels.Dictionary.DictionaryAddLanguageViewModel

@{
    ViewBag.Title = "Add";
    Layout = "~/Views/Shared/_ContentLayout.cshtml";
}

@section scripts{
    @Scripts.Render("~/bundles/jqueryform")
    @Scripts.Render("~/bundles/ajaxFormHelper")

    <script type="text/javascript">
        wordsMemorizer_ajaxFormHelper.bindAll();
    </script>
}


<a href="@Url.DictionaryIndex()">
    <span class="glyphicon glyphicon-arrow-left"></span>
    Назад
</a>

<div class="text-center">
    <form action="@Url.DictionaryApiAddLanguage()" method="POST" class="form-fixed form-ajax">
        <div class="form-group">
            @Html.LabelFor(m => m.AddLanguageForm.Name, new { @class = "label label-default" })
            @Html.TextBoxFor(m => m.AddLanguageForm.Name, new { @class = "form-control" })
        </div>
        <div class="form-group">
            <div class="summary text-danger"></div>
            <button id="ajaxFormSubmitButtom" class="btn btn-primary">
                <span class="glyphicon glyphicon-plus"></span>
                Добавить
            </button>
            <span class="ajaxProgress not-visible">
                <img src="~/Images/loading.gif" alt="loading" class="loader" />
            </span>
        </div>
    </form>
</div>