﻿@model WordsMemorizer.Web.ViewModels.Dictionary.DictionaryAddWordViewModel

@{
    ViewBag.Title = "AddWord";
    Layout = "~/Views/Shared/_ContentLayout.cshtml";
}

@section scripts{
    @Scripts.Render("~/bundles/jqueryform")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/ajaxFormHelper")
    @Scripts.Render("~/bundles/progressHelper")

    <script type="text/javascript">
        var $form = $("#addWordForm");

        wordsMemorizer_progressHelper.maxValue = 6;
        wordsMemorizer_progressHelper.reset();

        var nextStepValidation = function ($form) {
            $form.find(".summary").text("");

            if ($form.valid()) {
                wordsMemorizer_progressHelper.next();
            }
            else {
                try {
                    var validator = $form.validate();
                    if (validator.errorList.length > 0) {
                        var errorMsg = validator.errorList[0].message;
                        $form.find(".summary").text(errorMsg);
                    }
                } catch (e) {
                    console.log(e);
                }
            }
        }

        $(".form-step-by-step .next-step").click(function () {
            nextStepValidation($form);
        });

        $(".form-step-by-step .last-step").click(function () {
            wordsMemorizer_ajaxFormHelper.manuallySubmit($form, function () {
                wordsMemorizer_progressHelper.next();
            });
        });

        $(".form-step-by-step input[type=text]").keypress(function (event) {
            if (event.which == 13) {
                if (wordsMemorizer_progressHelper.isSaveStep()) {
                    $(".form-step-by-step .last-step").click();
                }
                else {
                    nextStepValidation($form);
                }
                return false;
            }
        });
        $(".form-step-by-step .back-step").click(function () {
            wordsMemorizer_progressHelper.back();
        });
    </script>
}


<a href="@Url.DictionaryViewWords(Model.AddWordForm.LanguageId)">
    <span class="glyphicon glyphicon-arrow-left"></span>
    Назад
</a>

<div class="text-center">
    <form id="addWordForm" action="@Url.DictionaryApiAddWord()" method="POST" class="form-fixed form-ajax">
        @Html.HiddenFor(m => m.AddWordForm.LanguageId)
        <div class="form-step-by-step">
            <div class="progress">
                <div class="progress-bar progress-bar-success progress-bar-striped active" role="progressbar" aria-valuenow="3" aria-valuemin="1"
                     aria-valuemax="6" style="width: 60%;min-width: 4em;">
                    <label>
                        <span class="glyphicon glyphicon-check"></span>
                        <span class="text">3/6</span>
                    </label>
                </div>
            </div>
            <div data-step="0" data-required="true" class="form-group">
                @Html.LabelFor(m => m.AddWordForm.Text, new { @class = "label label-default label-wrap" })
                @Html.TextBoxFor(m => m.AddWordForm.Text, new { @class = "form-control", required = "required" })
            </div>
            <div data-step="1" class="form-group">
                @Html.LabelFor(m => m.AddWordForm.Transcription, new { @class = "label label-default label-wrap" })
                @Html.TextBoxFor(m => m.AddWordForm.Transcription, new { @class = "form-control" })
            </div>
            <div data-step="2" class="form-group">
                @Html.LabelFor(m => m.AddWordForm.WordAssociation, new { @class = "label label-default label-wrap" })
                @Html.TextBoxFor(m => m.AddWordForm.WordAssociation, new { @class = "form-control" })
            </div>
            <div data-step="3" class="form-group">
                @Html.LabelFor(m => m.AddWordForm.Translation, new { @class = "label label-default label-wrap" })
                @Html.TextBoxFor(m => m.AddWordForm.Translation, new { @class = "form-control" })
            </div>
            <div data-step="4" class="form-group">
                @Html.LabelFor(m => m.AddWordForm.TranslationAssociation, new { @class = "label label-default label-wrap" })
                @Html.TextBoxFor(m => m.AddWordForm.TranslationAssociation, new { @class = "form-control" })
            </div>
            <div data-step="5" class="form-group">
                @Html.LabelFor(m => m.AddWordForm.CombineAssociation, new { @class = "label label-default label-wrap" })
                @Html.TextBoxFor(m => m.AddWordForm.CombineAssociation, new { @class = "form-control" })
            </div>
            <div data-step="6" class="form-group">
                <p>Вот и все! Хотите ли пройти тренировку, чтобы закрепить слово?</p>
                <a href="@Url.DictionaryViewWords(Model.AddWordForm.LanguageId)" class="btn btn-default">Позже</a>
                <a href="@Url.DictionaryViewWords(Model.AddWordForm.LanguageId)" class="btn btn-primary">Тренировать только это слово</a>
                <a href="@Url.DictionaryViewWords(Model.AddWordForm.LanguageId)" class="btn btn-success">Тренировать все слова на повторении</a>
            </div>
            <div class="form-group">
                <div class="summary text-danger"></div>
                <button class="btn btn-link back-step" type="button">
                    Назад
                </button>
                <button class="btn btn-primary next-step" type="button">
                    Далее
                    <span class="glyphicon glyphicon-arrow-right"></span>
                </button>
                <button id="ajaxFormSubmitButtom" class="btn btn-success last-step" type="button">
                    <span class="glyphicon glyphicon-check"></span>
                    Готово
                </button>
                <span class="ajaxProgress not-visible">
                    <img src="~/Images/loading.gif" alt="loading" class="loader" />
                </span>
            </div>
        </div>
    </form>
</div>

