﻿@model WordsMemorizer.Web.ViewModels.Dictionary.DictionaryEditWordViewModel

@{
    ViewBag.Title = "EditWord";
    Layout = "~/Views/Shared/_ContentLayout.cshtml";
}

@section scripts{
    @Scripts.Render("~/bundles/jqueryform")
    @Scripts.Render("~/bundles/knockoutHelper")
    @Scripts.Render("~/bundles/ajaxFormHelper")

    <script type="text/javascript">
        wordsMemorizer_knockoutHelper.applyBindings();
        var contentData = {
            wordId: '@Model.EditWordForm.WordId',
            name: 'загрузка...'
        };
        var url = '@Url.DictionaryApiGetWord()';
        wordsMemorizer_knockoutHelper.getContent(url, contentData);

        wordsMemorizer_ajaxFormHelper.bindAll();
    </script>
}

<a href="@Url.DictionaryViewWords(Model.LanguageId)">
    <span class="glyphicon glyphicon-arrow-left"></span>
    Назад
</a>

<div class="text-center">
    <form action="@Url.DictionaryApiEditWord()" method="POST" class="form-fixed form-ajax" data-bind="with: contentData">
        @Html.HiddenFor(m => m.EditWordForm.WordId, new { data_bind = "value: id" })
        <div class="form-group">
            @Html.LabelFor(m => m.EditWordForm.Text, new { @class = "label label-default" })
            @Html.TextBoxFor(m => m.EditWordForm.Text, new { @class = "form-control", data_bind = "value: text" })
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.EditWordForm.Transcription, new { @class = "label label-default" })
            @Html.TextBoxFor(m => m.EditWordForm.Transcription, new { @class = "form-control", data_bind = "value: transcription" })
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.EditWordForm.Translation, new { @class = "label label-default" })
            @Html.TextBoxFor(m => m.EditWordForm.Translation, new { @class = "form-control", data_bind = "value: translation" })
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.EditWordForm.WordAssociation, new { @class = "label label-default" })
            @Html.TextBoxFor(m => m.EditWordForm.WordAssociation, new { @class = "form-control", data_bind = "value: wordAssociation" })
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.EditWordForm.TranslationAssociation, new { @class = "label label-default" })
            @Html.TextBoxFor(m => m.EditWordForm.TranslationAssociation, new { @class = "form-control", data_bind = "value: translationAssociation" })
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.EditWordForm.CombineAssociation, new { @class = "label label-default" })
            @Html.TextBoxFor(m => m.EditWordForm.CombineAssociation, new { @class = "form-control", data_bind = "value: combineAssociation" })
        </div>
        <div class="form-group">
            <div class="summary text-danger"></div>
            <button id="ajaxFormSubmitButtom" class="btn btn-primary">
                <span class="glyphicon glyphicon-pencil"></span>
                Изменить
            </button>
            <span class="ajaxProgress not-visible">
                <img src="~/Images/loading.gif" alt="loading" class="loader" />
            </span>
        </div>
    </form>
</div>

