﻿@model WordsMemorizer.Web.ViewModels.Dictionary.DictionaryEditLanguageViewModel

@{
    ViewBag.Title = "EditLanguage";
    Layout = "~/Views/Shared/_ContentLayout.cshtml";
}

@section scripts{
    @Scripts.Render("~/bundles/jqueryform")
    @Scripts.Render("~/bundles/knockoutHelper")
    @Scripts.Render("~/bundles/ajaxFormHelper")

    <script type="text/javascript">
        wordsMemorizer_knockoutHelper.applyBindings();
        var contentData = {
            id: '@Model.EditLanguageForm.Id',
            name: 'загрузка...'
        };
        var url = '@Url.DictionaryApiGetLanguage()';
        wordsMemorizer_knockoutHelper.getContent(url, contentData);

        wordsMemorizer_ajaxFormHelper.bindAll();
</script>
}

<a href="@Url.DictionaryIndex()">
    <span class="glyphicon glyphicon-arrow-left"></span>
    Назад
</a>

<div class="text-center">
    <form action="@Url.DictionaryApiEditLanguage()" method="POST" class="form-fixed form-ajax" data-bind="with: contentData">
        @Html.HiddenFor(m => m.EditLanguageForm.Id, new { data_bind = "value: id" })
        <div class="form-group">
            @Html.LabelFor(m => m.EditLanguageForm.Name, new { @class = "label label-default" })
            @Html.TextBoxFor(m => m.EditLanguageForm.Name, new { @class = "form-control", data_bind = "value: name" })
        </div>
        <div class="form-group">
            <div class="summary text-danger"></div>
            <button id="ajaxFormSubmitButtom" class="btn btn-primary">
                <span class="glyphicon glyphicon-pencil"></span>
                Изменить
            </button>
            <span class="ajaxProgress not-visible">
                <img src="~/Images/loading.gif" alt="loading" class="loader" />
            </span>
        </div>
    </form>
</div>