﻿@model WordsMemorizer.Web.ViewModels.Dictionary.DictionaryIndexViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_ContentLayout.cshtml";
}

@section styles{
    @Styles.Render("~/Content/jqueryui")
}

@section scripts{ 
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/knockout")
    @Scripts.Render("~/bundles/jqueryform")
    @Scripts.Render("~/bundles/knockoutHelper")
    @Scripts.Render("~/bundles/ajaxFormHelper")

    <script type="text/javascript">
        $(function () {
            wordsMemorizer_knockoutHelper.applyBindings();
            wordsMemorizer_knockoutHelper.getContent('@Url.DictionaryApiGetLanguages()');

            var $btn;

            $("#dialog-confirm").dialog({
                resizable: false,
                autoOpen: false,
                modal: true,
                buttons: {
                    "Да": function () {
                        $(this).dialog("close");
                        var $form = $btn.closest("form");
                        wordsMemorizer_ajaxFormHelper.manuallySubmit($form, function (apiResult) {
                            var $languageRows = $(window.dataList);
                            var $languageRow = $languageRows.find("tr[data-id=" + apiResult.data + "]");
                            $languageRow.fadeOut("slow", function () {
                                wordsMemorizer_knockoutHelper.getContent('@Url.DictionaryApiGetLanguages()');
                            });
                        });
                    },
                    "Нет": function () {
                        $(this).dialog("close");
                    }
                }
            });
            $("#dataList").on("click", "button[name=remove]", function () {
                $btn = $(this);
                $("#dialog-confirm").dialog("open");
            });
        });
    </script>
}

<div id="dialog-confirm" title="Подтверждение удаления">
    <p>
        <span class="glyphicon glyphicon-warning-sign text-danger" style="float:left; margin:0 7px 20px 0;"></span>
        Вы уверены, что хотите удалить?
    </p>
</div>

<table class="table table-hover">
    <thead>
        <tr>
            <td>Язык</td>
            <td>Слов</td>
            <td>
                <a href="@Url.DictionaryAddLanguage()" class="btn btn-default">
                    <span class="glyphicon glyphicon-plus"></span>
                    Добавить
                </a>
            </td>
        </tr>
    </thead>
    <tbody id="dataList" class="not-visible onBind-fadeIn" data-bind="foreach: contentData">
        <tr data-bind="attr: { 'data-id': id }">
            <td>
                <a data-bind="text: name, attr: { href: '@Url.DictionaryViewWords()?languageId=' + id }"></a>
            </td>
            <td data-bind="text: wordsCount"></td>
            <td class="inline-block">
                <a data-bind="attr: { href: '@Url.DictionaryEditLanguage()?id=' + id }"
                   class="btn btn-default">
                    <span class="glyphicon glyphicon-edit"></span>
                </a>
                <form action="@Url.DictionaryApiDeleteLanguage()" class="inline-block" method="post">
                    <input name="languageId" type="hidden" data-bind="value: id" />
                    <button name="remove" type="button" class="btn btn-default">
                        <span class="glyphicon glyphicon-trash"></span>
                    </button>
                    <span class="ajaxProgress not-visible">
                        <img src="~/Images/loading.gif" alt="loading" class="loader" />
                    </span>
                </form>
            </td>
        </tr>
    </tbody>
    <tfoot>
        <!-- ko if: loading -->
        <tr>
            <td colspan="3">Загрузка списка...</td>
        </tr>
        <!-- /ko -->
        <!-- ko if: isContentEmpty() -->
        <tr>
            <td colspan="3">Список пуст</td>
        </tr>
        <!-- /ko -->
    </tfoot>
</table>