﻿@model WordsMemorizer.Web.ViewModels.Dictionary.DictionaryViewWordsViewModel

@{
    ViewBag.Title = "ViewWords";
    Layout = "~/Views/Shared/_ContentLayout.cshtml";
}

@section styles{
    @Styles.Render("~/Content/jqueryui")
}

@section scripts{
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/knockout")
    @Scripts.Render("~/bundles/jqueryform")
    @Scripts.Render("~/bundles/knockoutHelper")
    @Scripts.Render("~/bundles/ajaxFormHelper")
    @Scripts.Render("~/bundles/repeatTimeHelper")
    @Scripts.Render("~/bundles/viewWordsViewModel")

    <script type="text/javascript">
        $(function () {
            wordsMemorizer_knockoutHelper.getContentViewModel.pageViewModel(new viewWordsViewModel());
            wordsMemorizer_knockoutHelper.applyBindings();
            var url = '@Url.DictionaryApiGetWords()';
            var data = {
                languageId: '@Model.LanguageId'
            };
            wordsMemorizer_knockoutHelper.getContent(url, data);

            var $btn;

            $("#dialog-confirm").dialog({
                resizable: false,
                autoOpen: false,
                modal: true,
                buttons: {
                    "Да": function () {
                        $(this).dialog("close");
                        var $form = $btn.closest("form");
                        wordsMemorizer_ajaxFormHelper.manuallySubmit($form, function (apiResult) {
                            var $wordRows = $(window.dataList);
                            var $wordRow = $wordRows.find("tr[data-id=" + apiResult.data + "]");
                            $wordRow.fadeOut("slow", function () {
                                wordsMemorizer_knockoutHelper.getContent(url, data);
                            });
                        });
                    },
                    "Нет": function () {
                        $(this).dialog("close");
                    }
                }
            });
            $("#dataList").on("click", "button[name=remove]", function () {
                $btn = $(this);
                $("#dialog-confirm").dialog("open");
            });
        });
    </script>
}

<a href="@Url.DictionaryIndex()">
    <span class="glyphicon glyphicon-arrow-left"></span>
    Назад
</a>

<div id="dialog-confirm" title="Подтверждение удаления">
    <p>
        <span class="glyphicon glyphicon-warning-sign text-danger" style="float:left; margin:0 7px 20px 0;"></span>
        Вы уверены, что хотите удалить?
    </p>
</div>

<table class="table table-hover">
    <thead>
        <tr>
            <td>Слово</td>
            <td>Перевод</td>
            <td>Ассоциация</td>
            <td>
                <div data-bind="ifnot: pageViewModel().anyReadyWords(contentData())">
                    <span>
                        Время до повторения
                    </span>
                </div>
                <div data-bind="if: pageViewModel().anyReadyWords(contentData())">
                    <button class="btn btn-success">
                        Тренировать доступные слова
                    </button>
                </div>
            </td>
            <td>
                <a href="@Url.DictionaryAddWord(Model.LanguageId)" class="btn btn-default">
                    <span class="glyphicon glyphicon-plus"></span>
                    Добавить
                </a>
            </td>
        </tr>
    </thead>
    <tbody id="dataList" class="not-visible onBind-fadeIn" data-bind="foreach: contentData">
        <tr data-bind="attr: { 'data-id': id }">
            <td data-bind="text: text, attr: { 'title': transcription }"></td>
            <td data-bind="text: translation"></td>
            <td>
                <div class="small">
                    <label class="text-muted">Слово: </label>
                    <span data-bind="text: wordAssociation"></span>
                </div>
                <div class="small">
                    <label class="text-muted">Перевод: </label>
                    <span data-bind="text: translationAssociation"></span>
                </div>
                <div class="small">
                    <label class="text-muted">Комбинация: </label>
                    <span data-bind="text: combineAssociation"></span>
                </div>
            </td>
            <td>
                <div data-bind="text: wordsMemorizer_repeatTimeHelper.getTimeText(repeatSchedule)"></div>
            </td>
            <td class="inline-block">
                <a data-bind="attr: { href: '@Url.DictionaryEditWord()?languageId=' + languageId + '&wordId=' + id }"
                   class="btn btn-default">
                    <span class="glyphicon glyphicon-edit"></span>
                </a>
                <form action="@Url.DictionaryApiDeleteWord()" class="inline-block" method="post">
                    <input name="wordId" type="hidden" data-bind="value: id" />
                    <button name="remove" type="button" class="btn btn-default">
                        <span class="glyphicon glyphicon-trash"></span>
                    </button>
                    <span class="ajaxProgress not-visible">
                        <img src="~/Images/loading.gif" alt="loading" class="loader" />
                    </span>
                </form>
            </td>
        </tr>
    </tbody>
    <tfoot>
        <!-- ko if: loading -->
        <tr>
            <td colspan="5">Загрузка списка...</td>
        </tr>
        <!-- /ko -->
        <!-- ko if: isContentEmpty() -->
        <tr>
            <td colspan="5">Список пуст</td>
        </tr>
        <!-- /ko -->
    </tfoot>
</table>

