﻿@model WordsMemorizer.Areas.Admin.ViewModels.Users.AdminUsersViewModel

@{
    ViewBag.Title = "Users";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

@section scripts{
    <script type="text/javascript">
        $(function () {
            $(".UserRoleType").click(function () {
                $("#@Html.IdFor(m => m.Form.UserId)").val($(this).data("userid"));
                $('#roleModal').modal('show');
            });

            $(".btn-ban").click(function () {
                var button = $(this);
                var loader = button.closest("td").find(".loader");
                button.hide("fast", function () {
                    loader.fadeIn("fast");
                    var state = button.data("state");
                    var url;
                    if (state == "@WordsMemorizer.Model.ValueObjects.UserAccountState.Blocked") {
                        url = "@Url.AdminUsersUnban()";
                    }
                    else {
                        url = "@Url.AdminUsersBan()";
                    }
                    var userId = button.closest("tr").data("userid");
                    $.post(url, { userId: userId }, function (response) {
                        loader.fadeOut("fast", function () {
                            button.fadeIn("slow");
                        });
                        if (response == true) {
                            if (state == "@WordsMemorizer.Model.ValueObjects.UserAccountState.Blocked") {
                                button.data("state", "@WordsMemorizer.Model.ValueObjects.UserAccountState.Normal");
                                button.removeClass("btn-danger");
                                button.addClass("btn-default");
                                button.attr("title", "Бан на авторизацию");
                            }
                            else {
                                button.data("state", "@WordsMemorizer.Model.ValueObjects.UserAccountState.Blocked");
                                button.removeClass("btn-default");
                                button.addClass("btn-danger");
                                button.attr("title", "Разбанить");
                            }
                        }
                    });
                });
            });
        });
    </script>
}

<fieldset>
    <legend class="text-center text-success">Пользователи</legend>

    <table class="table">
        <thead>
            <tr>
                <td class="text-center text-muted">Ник</td>
                <td class="text-center text-muted">Роль</td>
                <td class="text-center text-muted">Дата регистрации</td>
                <td class="text-center text-muted">Email</td>
                <td class="text-center text-muted">Бан</td>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in Model.Users)
            {
                <tr data-userid="@user.Id">
                    <td class="text-center vertical-align-middle">
                        @user.UserName
                    </td>
                    <td class="text-right vertical-align-middle">
                        <button type="button" class="btn btn-link UserRoleType" data-userid="@user.Id">@user.UserRole.ToString() <span class="glyphicon glyphicon-list-alt"></span></button>
                    </td>
                    <td class="text-center vertical-align-middle">
                        @user.RegistrationDate.ToShortDateString()
                    </td>
                    <td class="text-center vertical-align-middle">
                        <a href="mailto:@user.Email">@user.Email</a>                        
                    </td>
                    <td class="text-center vertical-align-middle">
                        <button data-state="@user.State" type="button"
                                title="@(user.State == WordsMemorizer.Model.ValueObjects.UserAccountState.Blocked ? "Разбанить" : "Бан на авторизацию")"
                                class="btn btn-ban @(user.State == WordsMemorizer.Model.ValueObjects.UserAccountState.Blocked ? "btn-danger" : "btn-default")">
                            <span class="glyphicon glyphicon-ban-circle"></span>
                        </button>
                        <img src="~/Images/loading.gif" alt="loading..." class="loader not-visible" />
                    </td>
                </tr>
            }
        </tbody>
    </table>
</fieldset>


<div class="modal fade" id="roleModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Изменить роль на</h4>
            </div>
            <form action="@Url.Action("SetRole")" method="post">
                @Html.HiddenFor(m => m.Form.UserId)
                <div class="modal-body">
                    @Html.EnumDropDownListFor(m => m.Form.UserRoleType, new { @class = "form-control" })
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary">Изменить</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Отменить</button>
                </div>
            </form>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

